<section>
  <section>
    <%= image_tag "", class: "profile-image" %>
    <%= @user.given_name %>
  </section>
  <section>
    <%= form_for @user, :html => { class: "logout_user" }, 
                        url: logout_path, 
                        method: "delete" do |f| %>
      <%= f.button "Sign Out", class: "btn btn-primary", onclick: "signOut()" %>
    <% end %>
  </section>
  <section>
    <section>
      <%= text_field_tag "title_field", nil, placeholder: "Title" %>
    </section>
    <section>
      <%= text_area_tag "entry_field", nil, placeholder: "Write a new entry..." %>
    </section>
    <section>
      <%= button_tag "Create Entry", class: "btn", 
                                     onclick: "createEntry(
                                                $('#title_field').val(),
                                                $('#entry_field').val())" %>
    </section>
  </section>
  <section>
    <% if @user.entries.any? %>
      <ol class="entries_list">
        <%= render @entries %>
      </ol>
    <% end %>
  </section>
</section>
<section id="entry_text">
</section>

<script src="https://apis.google.com/js/platform.js?onload=drivePlatformLoaded" async defer></script>